<ion-view ng-controller="main2Controller">
  <ion-nav-title ng-load="rest()">
    <b>{{exName}}</b>
  </ion-nav-title>
  <ion-nav-buttons side="left">
    <div ng-include="header">

    </div>
  </ion-nav-buttons>
  <ion-content style="background-color:#EBEBED" >
    <div class="button-bar">
	<a href="#/main1" class="button"><</a>
      <a class="button"><font id="set1" >1</font></a>
      <a class="button"><font id="set2" >2</font></a>
      <a class="button"><font id="set3" >3</font></a>
      <a class="button"><font id="set4" >4</font></a>
      <a class="button"><font id="set5" >5</font></a>	  
	  <a href="#/main3" class="button">></a>
    </div>
    <div class="contents">
	<section class="">
      <img src="/img/test.gif"style="width: 100%;height: auto;" alt="" />
    </section>
	<section class="core-section" style="margin-bottom:10px;padding:15px">
		<h5><b>1세트 "{{weight}}kg"으로 할 수 있는만큼 최대한 실시하세요!</b></h5>
		<jh-number-picker number="myNumber"></jh-number-picker>
      </section>	
     <section class="core-section" style="margin-bottom:10px;padding:15px">
		 <div class="">
        <div class="row">
          <div class="col text-center">
            <a class="button button-expirit-color button-execercise" href="http://localhost:8100/#/main3">완료</a>
          </div>
        </div>
      </div>
      </section>	
	
    </div>
  </ion-content>
</ion-view>
