<ion-view view-title="Account">

  <ion-nav-title>
    <div class="bar bar-header">
      <button class="button" name="button" ng-click="login()">login</button>
      <!--<button class="button button-icon" ng-click="showEditButton()">Edit</button>-->
      <div class="h1 title">내 운동 프로그램</div>
      <button class="button" name="button" ng-click="apiGetProgram()">loadData</button>
      <button class="button" name="button" ng-click="logout()">logout</button>
      <button class="button" name="button" ng-click="test()">test</button>
      <button class="button" name="button" ng-click="loadDB()">loadDB</button>
    </div>
  </ion-nav-title>

  <ion-floating-menu ng-hide="myValue" has-footer="true" button-color="#2AC9AA" icon="ion-plus" iconColor="#fff">
    <ion-floating-item icon="ion-ios-plus-empty" click="addButtonClick()"></ion-floating-item>
    <ion-floating-item icon="ion-ios-trash-outline" click="deleteButtonClick()"></ion-floating-item>
    <ion-floating-item icon="ion-loop" click="changeButtonClick()"></ion-floating-item>
  </ion-floating-menu>
  <ion-content>
    <div class="button-bar">
      <a data="MON" ng-click="getListByDay($event)" class="button">월</a>
      <a data="TUE" ng-click="getListByDay($event)" class="button">화</a>
      <a data="WED" ng-click="getListByDay($event)" class="button">수</a>
      <a data="THU" ng-click="getListByDay($event)" class="button">목</a>
      <a data="FRI" ng-click="getListByDay($event)" class="button">금</a>
      <a data="SAT" ng-click="getListByDay($event)" class="button">토</a>
      <a data="SUN" ng-click="getListByDay($event)" class="button">일</a>
    </div>
    <section>
      <div class="list">
        <ion-tree-list items="DropDownlistData" collapsed="true"></ion-tree-list>
      </div>
    </section>

  </ion-content>
</ion-view>
