<ion-view>
  <ion-nav-title>
    {{appName}}
  </ion-nav-title>
  <ion-nav-buttons side="left">
    <div ng-include="header">

    </div>
  </ion-nav-buttons>
  <ion-content style="background-color:#EBEBED">
    <div class="contents">
      <section class="" style="background-color:#ffffff;padding:15px;margin-bottom:10px">
        <h3>송주안님 안녕하세요!</h3>
        "더 좋은 나를 만들 수 있는데도 현재에 머물러있는것은
        <br>
        아무짝에도 쓸모없는 게으름 때문이다."
      </section>
      <section class="stretch-section" style="margin-bottom:10px">
        <div class="list">
          <div class="item item-divider">
            스트레칭
          </div>
          <a class="item item-button-right" href="#">
            <input type="checkbox" value="first_checkbox">고관절 스트레칭
          </a>
          <a class="item item-button-right" href="#">
            어깨 스트레칭
            <button class="button button-expirit-color">
              운동하기
            </button>
          </a>
        </div>
      </section>
      <section class="core-section">
        <div class="list">
          <div class="item item-divider">
            메인운동
          </div>
          <a class="item" href="#">
            벤치프레스
          </a>
          <a class="item" href="#">
            스쿼트
          </a>
          <a class="item" href="#">
            숄더 프레스
          </a>
          <a class="item" href="#/main"><!--처음이면 main이지만, 이미 운동하기 시작했으면 바로 main2로-->
            데드 리프트
          </a>
        </div>
      </section>
    </div>
    <button class="button button-positive button-block"
            ng-click="facebookLogin()">login with facebok</button>
  </ion-content>
</ion-view>
