<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab icon-off="home-off" icon-on="home-on" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <ion-tab icon-off="myexercise-off" icon-on="myexercise-on" href="#/tab/exercise">
    <ion-nav-view name="tab-exercise"></ion-nav-view>
  </ion-tab>

  <ion-tab icon-off="myprogram-off" icon-on="myprogram-on" href="#/tab/program">
    <ion-nav-view name="tab-program"></ion-nav-view>
  </ion-tab>

  <ion-tab icon-off="profile-off" icon-on="profile-on" href="#/tab/profile">
    <ion-nav-view name="tab-profile"></ion-nav-view>-->
  </ion-tab>

  <ion-tab icon-off="etc-off" icon-on="etc-on" href="#/tab/etc">
    <ion-nav-view name="tab-etc"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab
  <ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>-->



</ion-tabs>
