<ion-view >
  <ion-nav-title>
<div class="bar bar-header">
      <button class="button button-icon icon ion-arrow-left-c" name="button" ng-click=""></button>
      <!--<button class="button button-icon" ng-click="showEditButton()">Edit</button>-->
      <div class="h1 title"></div>
    </div>
  </ion-nav-title>
  <ion-nav-buttons side="left">
    <div ng-include="header">

    </div>
  </ion-nav-buttons>
  <ion-content  class="intro" style="background-color:#01b6ad" >
    <div class="contents">
	<section class="">
    </section

     <section class="core-section" style="margin-bottom:10px;padding:15px">
		 <div class="">
        <div class="row">
          <div class="col text-center">
            <a class="button  button-block " href="#/intro4-2">시작하기</a>
			<a class="button  button-block " href="#/intro3-1">이미계정이 있으신가요? 로그인</a>

          </div>
        </div>
      </div>
      </section>	
	
    </div>
  </ion-content>
</ion-view>