<ion-view >
  <ion-nav-title>
    <div class="bar bar-header">
      <div class="h1 title">내 운동 프로그램</div>
    </div>
  </ion-nav-title>


  <ion-content>
    <section>
      <div align="left" style="position: absolute; left:30px; top:130px">
        <font class="gray question">
        가입이 거의 끝났습니다!</br></br>
        고객님의 맞춤형 운동 프로그램을 </br></br>
        위하여 다음 몇가지 질문에</br></br>
        대답해주세요
        </font>
      </div>

    </section>

  </ion-content>


<!--하단에 붙이는 버튼-->
<div class="" style="position: absolute; bottom: 20px; right:15px; width: 100%">
  <div class="row">
      <button class="button button-float" onclick="location.href='#/quest2'">
        <i class="ion-arrow-right-b"></i>
      </button>
  </div>
</div>


</ion-view>
