<ion-view >

  <ion-nav-title>
    <div class="bar bar-header">
      <div class="h1 title"></div>
    </div>
  </ion-nav-title>

  <ion-content>
    <section>
      <div class="row" align="left" style="position: absolute; left:30px; top:50px">
        <font class="gray question">
        운동하실 요일을 고르세요.</br></br>
        </font>
      </div>
      <br><br><br><br><br><br><br><br>

        <table cellpadding="0" cellspacing="0" border="0" style="width:20%; margin:auto;">
          <tr>
            <td valign="top">
              <input type='checkbox' name='thing' value='valuable' id="mon" class="imgcheck_day"/>
              <label for="mon"></label>
            </td>

            <td valign="top">
              <input type='checkbox' name='thing' value='valuable' id="tue" class="imgcheck_day"/>
              <label for="tue"></label>
            </td>

            <td valign="top">
              <input type='checkbox' name='thing' value='valuable' id="wed" class="imgcheck_day"/>
              <label for="wed"></label>
            </td>

            <td valign="top">
              <input type='checkbox' name='thing' value='valuable' id="thur" class="imgcheck_day"/>
              <label for="thur"></label>
            </td>

            <td valign="top">
              <input type='checkbox' name='thing' value='valuable' id="fri" class="imgcheck_day"/>
              <label for="fri"></label>
            </td>

            <td valign="top">
              <input type='checkbox' name='thing' value='valuable' id="sat" class="imgcheck_day"/>
              <label for="sat"></label>
            </td>

            <td valign="top">
              <input type='checkbox' name='thing' value='valuable' id="sun" class="imgcheck_day"/>
              <label for="sun"></label>
            </td>
          </tr>
        </table>

      <div style="position: absolute; left:30px; top:400px">
        <font class="expirit_text small">
          일주일에 2~4일 가량 운동하는 것이 가장 적당합니다.</br>
          만약 2일 혹은 3일만 운동을 하실 경우 연속한 요일은 </br>
          피하는게 효과적인 운동에 도움이 됩니다.
        </font>


      </div>

	</section>
  </ion-content>

<!--하단에 붙이는 버튼-->
<div class="" style="position: absolute; bottom: 20px; right:15px; width: 100%">
  <div class="row">
      <button class="button button-float colored" onclick="location.href='#/interview4'">
        <i class="ion-arrow-right-b"></i>
      </button>

  </div>
</div>


</ion-view>
