<ion-view >
  <ion-nav-title>
<div class="bar bar-header">
      <button class="button button-icon icon ion-arrow-left-c" name="button" ng-click=""></button>
      <!--<button class="button button-icon" ng-click="showEditButton()">Edit</button>-->
      <div class="h1 title"></div>
    </div>
  </ion-nav-title>
  <ion-nav-buttons side="left">
    <div ng-include="header">

    </div>
  </ion-nav-buttons>

  <ion-content  class="intro" style="background-color:#01b6ad" >
    <div class="contents">
  <section class="">
     <section class="core-section" style="margin-bottom:10px;padding:15px">
      <div class="row" align="left" style="position: absolute; left:30px; top:50px">
        <font class="expirit_bg question regular">
          책상에 앉아 계시느라 어깨가<br><br>
          굳어 지셨네요.<br><br>
            <br><br><br>
        </font>
      </div>
      </section>  
  
    </div>
  </ion-content>

<!-- 바닥에 붙는 풀 버튼 -->
<div class="login-form" style="position: absolute; bottom: 0px; width: 100%">
    <div class="row">
        <button class="button button-block expirit_text" onclick="location.href='#/interview2'">
          <font>
            다음
          </font>
        </button>
    </div>
</div>
</ion-view>