<ion-view >
  <ion-nav-title>
<div class="bar bar-header">
      <!--<button class="button button-icon" ng-click="showEditButton()">Edit</button>-->
      <div class="h1 title"></div>
    </div>
  </ion-nav-title>
  <ion-nav-buttons side="left">
    <div ng-include="header">

    </div>
  </ion-nav-buttons>

  <ion-content  class="intro" style="background-color:#01b6ad" >
    <br><br><br>
    <table cellpadding="0" cellspacing="0" border="0" style="width:0%; margin:auto;">
      <tr>
        <td valign="top"><img src="img/logo/white.png" style="width:200px; height:200px;"></td>
      </tr>
    </table>

    <div class="row" align="left" style="position: absolute; left:30px; top:300px">
      <font class="expirit_bg question regular">
        축하합니다! 
        모든 테스트가 끝이 났습니다.<br><br>
        고객님께 꼭 맞는 운동 프로그램이<br><br>
        기다리고 있습니다.<br><br>
        지금 바로 시작하세요!<br>
      </font>
    </div>

  </ion-content>

<!-- 바닥에 붙는 풀 버튼 -->
<div class="login-form" style="position: absolute; bottom: 0px; width: 100%">
    <div class="row">
        <div class="col text-center">
            <button class="button button-block expirit_text" onclick="location.href=''">
              <font>
                시작하기
              </font>
            </button>
        </div>
    </div>
</div>
</ion-view>