/* Empty. Add your own CSS if you like */
:root{
  var-imgPath : "/img/";
}

#bigCircle{
	width: 60%;
	margin: 0 auto;
}

.progress {
    position: absolute;
    color: #bbb;
    font-weight: 100;
    line-height: 1;
}

.progress-wrapper{
	position: relative;
}
.intro {
    background-image: url("img/deadLift.png");
}